
<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<p>
          <strong>Tweet:</strong>
          <%= @tweet.tweet %>
        </p>
        <nav class="navbar is-fixed-bottom">
            <div class="navbar-menu">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                  <%= link_to 'Edit', edit_tweet_path(@tweet) ,class:"button is-primary"%> 
                  </p>
              </div>
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                  <%= link_to 'Back', tweets_path ,class:"button is-info"%>
                  </p>
              </div>
            </div>
             </nav>
			</div>
		</div>
	</div>
</div>






